<div class="view modalContainer">

    <div class="container" ng-controller="NameListEditController">
        <header>
            <h3>List Edit</h3>

            
        </header>
        <textarea ng-model="fileContent" style="width: 100%;min-height: 250px;"></textarea>
        <br />
                <div>
                </div>
                    <button ng-click="saveList()" type="submit" class="btn btn-secondary">Save List</button>
                    <button ng-click="updateList()" type="submit" class="btn btn-secondary">Update Current List</button>
                    <button ng-click="$close()" type="submit" class="btn btn-secondary">Cancel</button>
                <br />
            </div>
        </div>

    </div>


</div>


